<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chronus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/timeline"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Calendar.Delete_General_Activity"></activity>
        <activity android:name=".Calendar.Add_General_Activity" />
        <activity android:name=".Reminders.Item_tosee" />
        <activity android:name=".Reminders.Update_DATA_Activity" />
        <activity android:name=".Reminders.ADD_DATA_Activity" />
        <activity android:name=".Reminders.ReminderItemsActivity" />
        <activity android:name=".Setting.LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".TransitionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".AlarmNotification.AlarmService" >
        </service>
        <receiver android:name=".AlarmNotification.AlarmReceiver" >
        </receiver>
        <receiver android:name=".AlarmNotification.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="aandroid.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

</manifest>